<!-- ========== Left Sidebar Start ========== -->

<ng-template #contentTemplate>
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <!-- {{menuItems}} -->

  <ng-container>
   
    <li>
      <a routerLinkActive="active"  class="side-nav-link-ref" routerLink="statistics">   
        <i class="fas fa-chart-line"></i>
        <span> {{ "SIDEMNUE.Statistics" | translate }} </span>
      </a>
    </li>

    <li>
      <a routerLinkActive="active"  class="side-nav-link-ref" routerLink="active-clients">   
        <i class="fas fa-user-check"></i>
        <span> {{ "SIDEMNUE.activeClients" | translate }} </span>
      </a>
    </li> 

    <li>
      <a routerLinkActive="active"  class="side-nav-link-ref" routerLink="onboarding-process">   
        <i class="fas fa-user-check"></i>
        <span> {{ "SIDEMNUE.onboardingProcess" | translate }} </span>
      </a>
    </li> 

    <li>
      <a routerLinkActive="active"  class="side-nav-link-ref" routerLink="waiting-activation">   
        <i class="fas fa-user-check"></i>
        <span> {{ "SIDEMNUE.waitingActivation" | translate }} </span>
      </a>
    </li> 

 </ng-container>
    </ul>
  </div>
</ng-template>
<!-- Sidebar -->

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </ngx-simplebar>
</div>
<!-- Left Sidebar End-->
